@tailwind base;
@tailwind components;
@tailwind utilities;

a,
span {
  @apply inline-block;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
body {
  @apply bg-light-surface font-exo font-normal text-black dark:bg-gradient-dark;
}
.container {
  @apply xl-max:max-w-[1328px] lg-max:max-w-[895px] md-max:max-w-[767px] md:max-w-[860px] max-w-[486px] mx-auto;
}
.form-label {
  @apply text-base leading-tight font-medium;
}
.form-control {
  @apply border border-primary-black rounded-[10px] h-[60px] px-10 outline-none w-full block dark:bg-gray-muted dark:border-white;
}

@media (max-width: 768px) {
  .container {
    @apply max-w-full px-[10px];
  }
}
